<!--home.html is the home view -->


  <h3>Overview</h3>
  <ul> The goal of the programming exercise is to build a simple web application that interacts with an API to:
    <li> View all the records stored in a database table</li>
    <li> View a single record</li>
    <li> Create new records</li>
    <li> Edit entries</li>
    <li> Delete entries</li>
  </ul>     
  <h3> Basic Activities</h3>
  <ul>
    <li>  Create a mock JSON API </li>
    <li> Develop list page for all table entries</li>
    <li> Develop review page for table</li>
    <li> Develop create page for table</li>
    <li> Develop edit page for table</li>
    <li> Develop delete page for table</li>
